[project]
lang = "{{.Lang}}"
pkg = "{{.Pkg}}"

[paths]
spec = "{{.Spec}}"
output = "{{.Output}}"
# db_wrappers = ""

[commands]
build = "{{.Build}}"
test = "{{.Test}}"
shen_check = "{{.Check}}"

[gates]
relaxed = false
